<nav class="bg-[#3d82f6] w-64 p-4">
    <ul class="space-y-2">
        <li><a href="#" class="text-[#eff6ff] bg-[#1e3a8a] px-4 py-2 block rounded hover:bg-[#075985]">Начать коллекцию</a></li>
        <li><a href="#" class="text-[#eff6ff] bg-[#1e3a8a] px-4 py-2 block rounded hover:bg-[#075985]">Добавить в коллекцию</a></li>
        <li><a href="#" class="text-[#eff6ff] bg-[#1e3a8a] px-4 py-2 block rounded hover:bg-[#075985]">Редактировать коллекцию</a></li>
        <li>
            <button
                onclick="openModal('create')"
                class="w-full text-[#eff6ff] bg-[#1e3a8a] px-4 py-2 block rounded hover:bg-[#075985]"
            >
                Добавить в каталог
            </button>
        </li>
        <li>
            <button
                onclick="openModal('edit')"
                class="w-full text-[#eff6ff] bg-[#1e3a8a] px-4 py-2 block rounded hover:bg-[#075985]"
            >
                Редактировать каталог
            </button>
        </li>
        <li>
            <button
                onclick="openModal('add-value')"
                class="w-full text-[#eff6ff] bg-[#1e3a8a] px-4 py-2 block rounded hover:bg-[#075985]"
            >
                Добавить (страну, материал, состояние, тему, тип издания)
            </button>
        </li>
    </ul>
</nav>


<!-- Модальное окно (универсальное) -->
<div id="modal" class="fixed inset-0 bg-black bg-opacity-50 hidden">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white p-6 rounded-lg">
            <h2 id="modal-title" class="text-xl font-bold mb-4"></h2>
            <div id="modal-content" class="flex space-x-4">
                <!-- Контент подгружается динамически -->
            </div>
            <div class="text-center">
                <button onclick="closeModal()" class="mt-4 bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div id="urls"
     data-create-coin="{% url 'create-coin' %}"
     data-create-banknote="{% url 'create-banknote' %}"
     data-coin-list="{% url 'coin-list' %}"
     data-banknote-list="{% url 'banknote-list' %}"
     data-create-country="{% url 'create-country' %}"
     data-create-material="{% url 'create-material' %}"
     data-create-state="{% url 'create-state' %}"
     data-create-theme="{% url 'create-theme' %}"
     data-create-edition="{% url 'create-edition' %}"
     style="display: none;">
</div>