<nav class="bg-[#3d82f6] w-64 p-4">
    <ul class="space-y-2">
        <li><a href="#" class="text-[#eff6ff] bg-[#1e3a8a] px-4 py-2 block rounded hover:bg-[#075985]">Начать коллекцию</a></li>
        <li><a href="#" class="text-[#eff6ff] bg-[#1e3a8a] px-4 py-2 block rounded hover:bg-[#075985]">Добавить в коллекцию</a></li>
        <li><a href="#" class="text-[#eff6ff] bg-[#1e3a8a] px-4 py-2 block rounded hover:bg-[#075985]">Редактировать коллекцию</a></li>
        <li><a href="#" class="text-[#eff6ff] bg-[#1e3a8a] px-4 py-2 block rounded hover:bg-[#075985]">Добавить в каталог</a></li>
        <li><a href="#" class="text-[#eff6ff] bg-[#1e3a8a] px-4 py-2 block rounded hover:bg-[#075985]">Редактировать каталог</a></li>
    </ul>
</nav>