#scrollToTopBtn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #581c87;
    color: white;
    padding: 1rem;
    border-radius: 9999px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: none;
}

#scrollToTopBtn:hover {
    background-color: #3d1361;
}

#scrollToTopBtn span {
    font-size: 2rem;
    font-weight: bold;
}