{% extends 'base.html' %}  <!-- Наследуем базовый шаблон -->

{% block content %}
<div class="flex-1 p-4">
    <div class="bg-white p-8 rounded-lg shadow-lg">
        <h1 class="text-[#581c87] text-3xl font-bold mb-6">О проекте</h1>
        <p class="text-[#581c87] mb-4">
            Добро пожаловать в веб-приложение, посвящённое коллекционированию в сфере бонистики и нумизматики! Здесь вы можете создавать, редактировать и просматривать свои коллекции, а также формировать каталоги монет и банкнот.
        </p>
        <p class="text-[#581c87] mb-4">
            Наш проект создан для того, чтобы помочь коллекционерам упростить работу по систематизации своих коллекций, организовать документирование пополнения и сокращать время поиска объектов коллекционирования.
        </p>
        <p class="text-[#581c87] mb-4">
            Мы стремимся сделать процесс коллекционирования удобным и увлекательным. Присоединяйтесь к числу пользователей нашей программы и начинайте управлять своими коллекциями!
        </p>
        <div class="mt-6">
            <a href="/" class="bg-[#a3e635] text-[#0a0a0a] px-6 py-2 rounded hover:bg-[#86efac]">Вернуться на главную</a>
        </div>
    </div>
</div>
{% endblock %}