{% extends 'base.html' %}

{% block content %}
<!-- Cards -->
<div class="flex-1 p-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        <div class="bg-[#d8b4fe] p-6 rounded-lg">
            <h3 class="text-[#581c87] text-xl font-bold">Новинки</h3>
            <a href="#" class="mt-4 bg-[#a3e635] text-[#0a0a0a] px-4 py-2 block text-center rounded hover:bg-[#86efac]">Перейти</a>
        </div>
        <div class="bg-[#d8b4fe] p-6 rounded-lg">
            <h3 class="text-[#581c87] text-xl font-bold">Коллекции</h3>
            <a href="#" class="mt-4 bg-[#a3e635] text-[#0a0a0a] px-4 py-2 block text-center rounded hover:bg-[#86efac]">Перейти</a>
        </div>
        <div class="bg-[#d8b4fe] p-6 rounded-lg">
            <h3 class="text-[#581c87] text-xl font-bold">Страны</h3>
            <a href="{% url 'country-list' %}" class="mt-4 bg-[#a3e635] text-[#0a0a0a] px-4 py-2 block text-center rounded hover:bg-[#86efac]">Перейти</a>
        </div>
        <div class="bg-[#d8b4fe] p-6 rounded-lg">
            <h3 class="text-[#581c87] text-xl font-bold">Каталоги</h3>
            <a href="#" class="mt-4 bg-[#a3e635] text-[#0a0a0a] px-4 py-2 block text-center rounded hover:bg-[#86efac]">Перейти</a>
        </div>
    </div>
</div>
{% endblock %}