{% extends "base.html" %}
{% block content %}
  <div>
    <div class="container mx-auto p-4 bg-gray-400 rounded-lg shadow-md">
      <h1 class="text-3xl font-bold mb-6">Коллекции</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for collection in collections %}
          <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold mb-4">{{ collection.title }}</h2>
            <p class="text-gray-600">{{ collection.description }}</p>
            <a href="{% url 'collection-detail' collection.slug %}"
               class="mt-4 bg-blue-500 text-white px-4 py-2 block text-center rounded hover:bg-blue-600">
                Подробно
            </a>
            <a href="{% url 'collection-update' collection.slug %}"
               class="mt-4 bg-yellow-500 text-white px-4 py-2 block text-center rounded hover:bg-yellow-600">
                Редактировать
            </a>
          </div>
        {% endfor %}
      </div>
      {% include 'include/pagination.html' %}
    </div>
  </div>

<button id="scrollToTopBtn">
    <span>↑</span>
</button>
{% endblock %}